@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    @font-face {
        font-family: 'MabryRegularPro';
        src: url('../assets/mabry-regular-pro.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
}